/* Style de base du body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Conteneur centré avec du padding */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Styles pour les cards d'utilisateurs */
.card {
    border: 2px solid transparent;
    transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

/* Ajout de l'effet hover sur les cards */
.card:hover {
    transform: translateY(-10px);
    border-color: #007bff; /* Couleur de l'effet hover */
}

/* Styles pour les avatars */
.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

/* Styles pour les trois premiers utilisateurs */
.gold .card {
    border-color: gold;
}

.silver .card {
    border-color: silver;
}

.bronze .card {
    border-color: #cd7f32;
}

/* Texte en gras pour la distance */
.text-border {
    font-weight: bold;
}
